.artcards{
    margin-top: 100px;
    &__menu{
        margin-bottom: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        flex-wrap: nowrap;
    }
    &__list{
        min-height: 80vh;
    }
    &__btn{
        width: 180px;
        border: none;
        background-color: #fff;
        font-weight: 700;
        font-size: 32px;
        line-height: 38px;
        color: #242424;
        opacity: 0.7;
        cursor: pointer;
        &--active{
            opacity: 1;
        }
    }
}

@media screen and (max-width: 1300px) {
    .artcards{
        &__btn{
            width: auto;
            text-align: center;
        }
    }
}