.cintro{
    background-image: url('../../Assets/img/conf-intro.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
    &__wrapper {
        min-height: 60vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    
    &__title {
        margin-bottom: 45px;
        font-weight: 700;
        font-size: 96px;
        line-height: 112px;
        color: #FFFFFF;
    }
}
@media screen and (max-width: 900px) {
    .cintro{
        &__title {
            font-weight: 700;
            font-size: 52px;
            line-height: 55px;
        }
    }
}
@media screen and (max-width: 428px) {
    .cintro{
        &__title {
            font-weight: 700;
            font-size: 52px;
            line-height: 55px;
        }
    }
}